# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
broadcast/

# Docs
docs/

# Dotenv file

#.env was commented out earlier, uncommenting it not to push to git hub, recheck if problem

#lib/

node_modules/
.env
.DS_Store