# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
broadcast/

# Docs
docs/

# Dotenv file

#.env and lib were commented out earlier, uncommenting it not to push to git hub, recheck if problem

node_modules/
.env
.DS_Store

#lib/
!lib/forge-std/
.vercel
